b{
  float: left;
}
.app-form-container{
    h2 {
      font-size: 30px;
    }
    text-align: center;
    .app-form {
      .successMessage{
        color: green;
      }
      .errorMessage{
        color: red;
      }
      .app-form-details{
        input[type=text], input[type=password] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }
      }
      button {
        background-color: brown;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
      }
      button:hover {
        opacity: 0.8;
      }
    }
  }
  